<div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
  <form class="card-body" [formGroup]="form" (ngSubmit)="submitData()">
    <div class="form-control">
      <label class="label">
        <span class="label-text"> Name</span>
      </label>
      <input type="email" placeholder="email" class="input input-bordered" formControlName="name" />
      <div *ngIf="email!.invalid">
        <small class="text-red-400">
          {{ errors.email }}
        </small>
      </div>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input type="email" placeholder="password" class="input input-bordered" formControlName="email" />
      <div *ngIf="email!.invalid">
        <small class="text-red-400">
          {{ errors.email }}
        </small>
      </div>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">To</span>
      </label>
      <select class="input input-bordered" formControlName="to">
        <option>Select Option</option>
        <option *ngFor="let item of locations"> {{ item }}</option>
      </select>
      <div *ngIf="to!.invalid">
        <small class="text-red-400">
          {{ errors.to }}
        </small>
      </div>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">From</span>
      </label>
      <select class="input input-bordered" formControlName="from">
        <option>Select Option</option>
        <option *ngFor="let item of locations"> {{ item }}</option>
      </select>

      <div *ngIf="to!.invalid">
        <small class="text-red-400">
          {{ errors.to }}
        </small>
      </div>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Date</span>
      </label>
      <input type="date" placeholder="password" class="input input-bordered" formControlName="date" />

      <div *ngIf="date!.invalid">
        <small class="text-red-400">
          {{ errors.to }}
        </small>
      </div>
    </div>
    <div class="form-control mt-6">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
